body{background-image: url('../image/qq.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;padding: 0; }
/* 自定义样式 */
.block{display: block;}
.p-re{position: relative;}
.p-ab{position: absolute;}
.lf-item-left{position: relative;float: left;margin-right: 20px;}
.lf-item-right{position: relative;overflow: hidden;*zoom: 1;}


.row-fluid{position: relative;display: block;width: 100%;}
.fixed-left{position: fixed;margin-right: 20px;background: rgba(47, 47, 47, .9);display: block;
	left: 0;top: 0;bottom: 0;padding: 30px 0;width: 200px;text-align: center;}
.lf-avatar{width: 100px;height: 100px;display: block;border-radius: 50px;margin: 0 auto;}
.lf-username{font-size: 20px;color: #eaeaea;font-family: -webkit-pictograph;font-weight: 600;
	line-height: 60px;}
.lf-contact{ position: absolute;width: 100%;bottom: 60px;text-align: center;}
.lf-contact h5{ font-family: "Arial";color: #f1f2f3;line-height: 30px;}
.lf-contact a{}
.lf-contact .fa{ font-size: 20px;display: inline-block;padding: 4px; color: #258fb8;}
.lf-contact .fa:hover{ color: #f1f2f3;}
.lf-copy{ position: absolute;bottom: 20px;font-family: "microsoft yahei";color: #ccc;
	font-size: 14px;width: 100%;text-align: center;}/* text-shadow: 0 0 1px #fff; */
.main{margin-left: 240px;font-family: "microsoft yahei"}
.hdr-banner{height: 50px;overflow: hidden;margin-left: 100px;margin-top: 30px;}
.hdr-banner li{display: inline-block;width: 100px;line-height: 50px;text-align: center;
	cursor: pointer;}
.hdr-banner li a{color: #999;font-family: "microsoft yahei";font-size: 18px;}
.hdr-banner li a:hover{color: #258fb8;}
/* 内容部分 */
.lf-blog-ul{margin: 20px 0;}
.lf-blog-li{max-width: 800px;background: rgba(255, 255, 255, .7);height: auto;border-radius: 3px;padding: 20px;margin: 10px 0;
	box-shadow: 0 0 3px #eaeaea;margin-left: 50px;}
.lf-blog-li:hover{box-shadow: 0 0 10px #aaa;}
.time-tag{position: absolute;left: -60px; width: 50px;background: #258fb8;padding: 10px;border-radius: 3px;font-size: 14px;
	color: #fff;}
.lf-blog-li h5{font-size: 16px;color: #444;font-size: 1.6em;font-weight: 500;cursor: pointer;
	line-height: 150%;margin-bottom: 10px;}
.lf-blog-li h5:hover{ color: #258fb8;}
.blog-con{font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Tohoma, Arial;
	line-height: 1.6;height: 76px;overflow: hidden;}
.read-more{border-top: 1px solid #aaa;padding-top: 10px;margin-top: 10px;font-size: 14px;
	color: #999;cursor: pointer;}
.read-more:hover{color: #258fb8;}

/* 文章内页 */
.blog-content{ max-width: 800px;background: #fff;height: auto;border-radius: 3px;padding: 40px;margin: 10px 0;
	box-shadow: 0 0 3px #eaeaea;font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Tohoma, Arial}
.blog-title{font-size: 18px;font-weight: 600;color: #666;line-height: 1.8;cursor: pointer;}
.blog-content time{ color: #aaa;font-size: 14px;line-height: 1.6;}
.blog-content p{ margin-top: 20px;text-indent: 2em;line-height: 1.4;}
.blog-content img{ display: block;max-width: 100%;margin: 10px;cursor: pointer;}
.blog-content .coding{ margin: 10px 0;background: #f8f8f8;padding: 6px;border: 1px solid #ccc;font-size: 14px;line-height: 1.5;}
