<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="../../../js/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../css/base.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
	<div class="row-fluid">
		<div id="" class="fixed-left">
			<img class="lf-avatar" src="http://p3.music.126.net/voXXrYMGjBbi_O1nbs5rcw==/1902155116171228.jpg?param=200y200" alt="">
			<h5 class="lf-username">anchen Lee</h5>
			<div class="lf-contact">
				<h5>Know Me By</h5>
				<a href="http://weibo.com/leeshh64" target="_blank">
					<i class="fa fa-weibo"></i>
				</a>
			<!-- 	<a href=""><i class="fa fa-wechat"></i></a> -->
				<a href="https://twitter.com/anchenlee" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="https://github.com/anchenlee" target="_blank">
					<i class="fa fa-github"></i>
				</a>
			</div>
			<div class="lf-copy">&copy;2015 anchenlee</div>
		</div>
		
		<div id="" class="main">
			<ul class="hdr-banner block p-re">
				<li><a href="{{ site.baseurl }}">My blog</a></li>
				<li><a href="{{ site.baseurl }}/aboutme.html">About me</a></li>
			</ul>
			<div class="blog-content">
				<h5 class="blog-title">{{ page.title }}</h5>
				<time>{{ page.date | date_to_string }}</time>
				{{ content }}
			</div>
		</div>
	</div>
</body>
</html>